body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace; /* Optional: to match the ASCII art style */
    font-size: 30px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.title pre {
    margin: 0;
    font-size: 0.6vw;
    white-space: pre;
}

p {
    margin: 0.5rem 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: inherit;
}
